.account-sidebar-main-container{
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #f5f5f8;
    width: 200px;
    margin: 20px 30px;
}

.account-sidebar-main-container .account-sidebar-menu-container{
    width: 100%;
}

.account-sidebar-menu-container .account-menu-listing ul li{
    list-style: none;
    margin: 15px;
}

.account-sidebar-menu-container .account-menu-listing ul li a{
    text-decoration: none;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    padding: 10px 15px;
    width: 140px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    color: #313131;
}
.account-menu-listing ul li.active a {
    color: #313131; 
    background-color: #d7fe03; 
}
.account-menu-listing ul li.active i {
    color: #000; 
}

i{
    color: #313131;
    margin-top: 2px;
    font-size: 16px;
    margin-right: 5px;
}
/***
.account-menu-listing .account-sidebar-menu-text{
    width: 170px;
}
***/