.account-tab-main-container {
  background: linear-gradient(120deg, #313131, #000);
  margin: 20px 0;
  margin-right: 30px;
  padding: 20px;
  border-radius: 10px;
}

.account-tab-main-container h1 {
  color: #d7fe03;
  font-size: 24px;
  font-weight: 700;
}

.account-tab-main-container p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0;
}

.account-navigator-button-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-between;
}

.logout-redirect-button {
    text-decoration: none;
    padding: 6px 16px;
    border-radius: 25px;
    outline: none;
    border: none;
    background: #fff;
    cursor: pointer;
    color: #313131;
    font-weight: 700;
    font-size: 13px;
    transition: 0.3s ease-in-out;
}

.profile-redirect-button a {
  text-decoration: none;
  padding: 6px 16px;
  position: absolute;
  margin-top: 0px;
  border-radius: 25px;
  outline: none;
  border: none;
  background: #d7fe03;
  cursor: pointer;
  color: #000;
  font-weight: 700;
  font-size: 13px;
  transition: 0.3s ease-in-out;
}
.profile-redirect-button a:hover {
  background: #83af3b;
  color: #313131;
  transition: 0.3s ease-in-out;
}
.logout-redirect-button:hover {
    background: #83af3b;
    color: #313131;
    transition: 0.3s ease-in-out;
  }
